<ion-header>
  <ion-toolbar>
    <ion-title>action-sheet</ion-title>
    <ion-buttons slot="start">
      <ion-button routerLink="/" color="primary" fill="solid" >
        <ion-icon name="arrow-back-outline"></ion-icon>
        Atras
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

</ion-content>
