<ion-header>
  <ion-toolbar>
    <ion-title>alert</ion-title>
    <ion-buttons slot="start">
      <ion-button routerLink="/" color="primary" fill="solid" >
        <ion-icon name="arrow-back-outline"></ion-icon>
        Atras
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<!-- Default -->
<ion-button [disabled]="true">Default</ion-button>

<!-- Anchor -->
<ion-button href="#" [disabled]="true">Anchor</ion-button>

<!-- Colors -->
<ion-button color="primary" [disabled]="true">Primary</ion-button>
<ion-button color="secondary" [disabled]="true">Secondary</ion-button>
<ion-button color="tertiary" [disabled]="true">Tertiary</ion-button>
<ion-button color="success" [disabled]="true">Success</ion-button>
<ion-button color="warning" [disabled]="true">Warning</ion-button>
<ion-button color="danger" [disabled]="true">Danger</ion-button>
<ion-button color="light" [disabled]="true">Light</ion-button>
<ion-button color="medium" [disabled]="true">Medium</ion-button>
<ion-button color="dark" [disabled]="true">Dark</ion-button>

<!-- Expand -->
<ion-button expand="full" (click)="presentAlertPrompt()">Alert</ion-button>
<ion-button expand="block" [disabled]="true">Block Button</ion-button>

<!-- Round -->
<ion-button shape="round" [disabled]="true">Round Button</ion-button>

<!-- Fill -->
<ion-button expand="full" fill="outline" [disabled]="true">Outline + Full</ion-button>
<ion-button expand="block" fill="outline" [disabled]="true">Outline + Block</ion-button>
<ion-button shape="round" fill="outline" [disabled]="true">Outline + Round</ion-button>

<!-- Icons -->
<ion-button [disabled]="true">
  <ion-icon slot="start" name="star" ></ion-icon>
  Left Icon
</ion-button>

<ion-button [disabled]="true">
  Right Icon
  <ion-icon slot="end" name="star"></ion-icon>
</ion-button>

<ion-button [disabled]="true">
  <ion-icon slot="icon-only" name="star"></ion-icon>
</ion-button>

<!-- Sizes -->
<ion-button size="large" [disabled]="true">Large</ion-button>
<ion-button [disabled]="true">Default</ion-button>
<ion-button size="small" [disabled]="true">Small</ion-button>
</ion-content>
