<ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img src="/assets/avatar.jpg"></ion-img>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let item of componentes">
    <ion-button [routerLink]="item.redirecTo" expand="block" detail=true>{{item.name}}
      <ion-icon slot="start" [name]="item.icon"></ion-icon>
    </ion-button>
  </ion-list>
</ion-content>